div{
    width: 200px;
    background-color: purple;
    border-left: 5px solid;
    border-left-color: green;
    .main{
    padding: 10px;
    font-size: 20px;
    color: white;
    display: inline-block;
    
}
}